- name: 클러스터 노드 호스트 이름 설정
  hosts: all
  become: yes
  tasks:
    - name: 호스트 이름 변경
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

- name: HAProxy 설정 및 k8s 클러스터 초기화 준비
  hosts: haproxy
  become: yes
  vars:
    control_plane_ip: "{{ hostvars[inventory_hostname]['ansible_host'] }}"
    control_node_ips: "{{ groups['control'] | map('extract', hostvars, 'ansible_host') | list }}"

  tasks:
    - name: HAProxy 설치
      ansible.builtin.dnf:
        name: haproxy
        state: present

    - name: HAProxy 설정 파일 (haproxy.cfg) 생성
      ansible.builtin.template:
        src: haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
      notify:
        - Restart haproxy service

    - name: HAProxy 서비스 시작 및 활성화
      ansible.builtin.service:
        name: haproxy
        state: started
        enabled: yes

  handlers:
    - name: Restart haproxy service
      ansible.builtin.service:
        name: haproxy
        state: restarted


- name: 컨트롤 플레인 초기화 및 조인
  hosts: control
  become: yes
  vars:
    load_balancer_dns: "{{ hostvars['proxy']['ansible_host'] }}:6443"
    pod_cidr: "10.244.0.0/16"


  tasks:
    - name: 클러스터 초기화 (control1)
      ansible.builtin.shell: |
        kubeadm init \
          --control-plane-endpoint "{{ load_balancer_dns }}" \
          --upload-certs \
          --pod-network-cidr "{{ pod_cidr }}" \
          --cri-socket unix:///var/run/crio/crio.sock \
      register: kubeadm_init_result
      when: inventory_hostname == 'control1'

    - name: Worker Join Command 추출 및 변수 설정
      ansible.builtin.shell: |
        kubeadm token create --print-join-command 
      register: worker_join_cmd_raw
      when: inventory_hostname == 'control1'

    - name: Worker Join Command 변수 설정
      ansible.builtin.set_fact:
        join_command_worker: "{{ worker_join_cmd_raw.stdout | replace('\n', '') }}"
      when: inventory_hostname == 'control1'

    - name: Control Plane 인증서 키 추출 (Control Plane Joine Command 재구성용)
      ansible.builtin.shell: |
        kubeadm init phase upload-certs --upload-certs | tail -n 1
      register: cert_key_raw
      when: inventory_hostname == 'control1'

    - name: Control Plane Join Command 변수 설정
      ansible.builtin.set_fact:
        join_command_cp: "{{ hostvars['control1']['join_command_worker'] | trim }} --control-plane --certificate-key {{ cert_key_raw.stdout | trim }} --ignore-preflight-errors=FileAvailable--etc-kubernetes-kubelet.conf,Port-10250"
      when: inventory_hostname == 'control1'

    - name: 나머지 Control Plane 노드 조인 (control2, control3)
      ansible.builtin.shell: "{{ hostvars['control1']['join_command_cp'] }} --cri-socket unix:///var/run/crio/crio.sock"
      when: 
        - inventory_hostname != 'control1'
        - hostvars['control1']['join_command_cp'] is defined
        - hostvars['control1']['join_command_cp'] | length > 0

    - name: admin.conf 파일을 HAProxy 노드로 복사
      ansible.builtin.fetch:
        src: /etc/kubernetes/admin.conf
        dest: "{{ inventory_dir }}/fetched_config/{{ inventory_hostname }}/admin.conf"
        flat: yes
      when: inventory_hostname == "control1"

    - name: 복사된 admin.conf를 HAProxy 노드의 /root/.kube/config로 이동
      ansible.builtin.copy:
        src: "{{ inventory_dir }}/fetched_config/control1/admin.conf"
        dest: /root/.kube/config
        remote_src: no
        owner: root
        group: root
        mode: '0600'
      run_once: true
      delegate_to: haproxy


- name: 워커 노드 조인
  hosts: worker
  become: yes
  tasks:
    - name: 워커 노드 조인 실행
      ansible.builtin.shell: "{{ hostvars['control1']['join_command_worker'] }} --cri-socket unix:///var/run/crio/crio.sock --ignore-preflight-errors=FileAvailable--etc-kubernetes-kubelet.conf,Port-10250,FileAvailable--etc-kubernetes-pki-ca.crt"


- name: Flannel CNI 설치
  hosts: control1
  become: yes
  tasks:
    - name: Flannel CNI 설치 전 대기 (Control Plane 안정화)
      ansible.builtin.pause:
        seconds: 15
        prompt: "Waiting for Control Plane to be fully ready before installing CNI..."
    
    - name: Flannel CNI 적용
      ansible.builtin.command: kubectl apply --kubeconfig /etc/kubernetes/admin.conf -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
      delegate_to: control1
